.carousel {
  flex: 1 1 auto;
}

.item {
  padding: 0;
}

.slide {
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  border: 0;
  background-color: transparent;
  opacity: 0.5;
}

.btn-carousel:focus {
  outline: none;
}

.btn-carousel-prev {
  left: 0;
  > img {
    position: relative;
    left: -33%;
  }
}

.btn-carousel-prev:hover {
  opacity: 1;
}

.btn-carousel-next {
  right: 0;
  > img {
    position: relative;
    right: -33%;
  }
}

.btn-carousel-next:hover {
  opacity: 1;
}
