.area-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-right: 1px;

  header {
    display: grid;
    grid-template-columns: 75% auto;
    background-color: #2f80ed;
    border-radius: 15px 15px 0px 0px;
    padding: 14px 14px 10px 14px;
    -webkit-app-region: drag;

    .header-logo {
      display: flex;
      > img {
        margin-right: 2px;
      }
    }

    strong {
      color: #fff;
      font-family: "Trade Winds";
    }

    nav {
      -webkit-app-region: no-drag;
      justify-self: right;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          float: left;
          margin-left: 8px;

          img {
            cursor: pointer;
          }
        }
      }
    }
  }

  .area-footer {
    display: flex;
    align-items: center;
    background-color: var(--bg);
    border: 1px solid var(--bg-panel);
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 1px;
    height: 40px;

    div {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    input {
      flex: 1;
      border: 0;
      outline: none;
      color: black;
      font-family: inherit;
      background-color: inherit;
      padding: 12px;
    }

    img {
      padding-right: 10px;
      cursor: pointer;
    }
  }

  img {
    width: 18px;
  }

  a {
    color: #2f80ed;
    text-decoration: none;
  }

  .message-container {
    display: flex;
    flex-direction: column;

    .message-content {
      display: flex;
      flex-direction: row;

      .message-sender-logo {
        background-color: #2f80ed;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 40px;
        width: 40px;
        margin-right: 10px;
      }

      .message-sender {
        margin: 0;
        font-weight: 600;
      }

      .message-body > p {
        margin-top: 0px;
      }

      .message-aligned {
        margin-left: 50px;
      }
    }

    .message-link-content {
      display: flex;
      max-height: 60px;

      .link-content-description {
        flex: 1;
        min-width: 0;
        max-height: inherit;
        border-left: thick solid #2f80ed;
        padding: 0 5px;

        div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .link-content-image {
        white-space: nowrap;
        > img {
          height: 36px;
          width: 36px;
        }
      }

      .text-title {
        font-weight: 700;
      }

      .text-subtitle {
        font-weight: 600;
      }
    }
  }

  .wallpaper-info-container {
    position: absolute;
    height: 15em;
    width: 90%;
    bottom: 1em;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: var(--bg-panel);

    img {
      width: 10px;
      margin-right: 3px;
    }

    a {
      color: white;
    }

    .wallpaper-info-description {
      display: flex;
      flex-direction: column;
      padding: 1em;
      color: white;
      > h1 {
        margin: 0;
      }

      .wallpaper-info-metrics {
        display: flex;
        margin: 1em 0;
        > div {
          margin-right: 1em;
        }
      }
    }

    .wallpaper-info-actions {
      display: flex;
      justify-content: flex-end;
      padding: 0 1em 1em;  
    }
  }
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.wallpaper-info-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 4, $bgColor: var(--color-text));
  margin: 0;
  color: var(--color-text);
}

.area-body-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.area-body {
  flex: 1 1 auto;
  background-color: var(--bg);
  border-left: 1px solid var(--bg-panel);
  border-right: 1px solid var(--bg-panel);
  padding: 15px;
  height: 0px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  background-color: var(--bg-panel);
  padding: 1.5em;
  border-radius: 15px;

  h1 {
    margin: 0;
    color: var(--color-headings);
  }

  p {
    color: var(--color-text);
    font-size: 1.1em;
  }
}
