<div class="area-container">
  <header class="area-header">
    <div class="header-logo">
      <strong>everchanging wallpapers</strong>
    </div>
    <nav>
      <ul>
        <li><img [src]="darkMode ? './assets/img-dark-mode.svg' : './assets/img-light-mode.svg'"
            (click)="switchColorMode()"></li>
        <li><img src="./assets/btn-min.svg" (click)="minimizeWindow()"></li>
        <li><img src="./assets/btn-close.svg" (click)="closeWindow()"></li>
      </ul>
    </nav>
  </header>
  <div class="area-body-container">
    <div class="area-tags">
      <div class="tags">
        <button class="tag-button">
          tag1
        </button>
        <button class="tag-button">
          tag2
        </button>
        <button class="tag-button">
          tag3
        </button>
        <button class="tag-button">
          tag4
        </button>
      </div>
      <button class="tag-button">
        <img [src]="darkMode ? './assets/img-hashtag.svg' : './assets/img-hashtag-dark.svg'">
        ...
      </button>
    </div>
    <div class="area-body">
      <!-- <div *ngFor="let messageObj of messages" class="message-container">
        <div class="message-content">
          <div *ngIf="messageObj.firstMessage === true || messageObj.shouldSeparateMessages"
            class="message-sender-logo">
            <img src="./assets/img-code.svg">
          </div>
          <div class="message-body">
            <p *ngIf="messageObj.firstMessage === true || messageObj.shouldSeparateMessages" class="message-sender">
              Lorem ipsum dolor sit amet
            </p>
            <p *ngIf="!messageObj.hasLink"
              [ngClass]="{'message-aligned': !messageObj.firstMessage && !messageObj.shouldSeparateMessages}">
              {{ messageObj.message }}
            </p>
            <p>
              <a href="#" class="message-link" *ngIf="messageObj.hasLink"
                [ngClass]="{'message-aligned': !messageObj.firstMessage && !messageObj.shouldSeparateMessages}">
                {{ messageObj.message }}
              </a>
            </p>
          </div>
        </div>
        <div *ngIf="messageObj.hasLink" class="message-link-content">
          <div class="link-content-description">
            <div class="text-title">Link content header</div>
            <div class="text-subtitle">Link content subheader Link content subheader Link content subheader Link
              contentLink contentLink contentLink contentLink content
              subheader</div>
          </div>
          <div class="link-content-image">
            <img src="./assets/screen.png">
          </div>
        </div>
      </div> -->
      <!-- <div class="container">
        <h1>Light / Dark Mode</h1>
        <p>
          Toggle between light and dark mode of application using the button in the framebar
        </p>
      </div> -->
      <!-- <div>
        <blockquote class="container">
          <p><q>The U.S. is fast approaching $19,000,000,000,000.00 in national debt. This is mathematically impossible
              to
              ever pay back &hellip; even if every American was taxed at 100%.</q></p>
          <footer>Charles Goyette, The Dollar Meltdown</footer>
        </blockquote>
        <blockquote class="container">
          <p><q>79 million Baby Boomers are about to retire, pull their money out of the economy, and demand their $35
              Trillion Dollars in Social Security &amp; Medicare. Think that through&hellip;</q></p>
          <footer>Robert Kiyosaki</footer>
        </blockquote>
      </div> -->
    </div>
    <div class="wallpaper-info-container">
      <div class="wallpaper-info-description">
        <h1>Love on the air</h1>
        <div class="wallpaper-info-metrics">
          <div><span><img [src]="darkMode ? './assets/img-eye.svg' : './assets/img-eye-dark.svg'"></span> likes</div>
          <div><span><img [src]="darkMode ? './assets/img-location.svg' : './assets/img-location-dark.svg'"></span>
            location</div>
        </div>
        <p class="wallpaper-info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nulla
          expedita consequuntur distinctio, odit eum suscipit? Quidem consequatur iure blanditiis alias provident illo
          architecto nemo quis ratione repudiandae, ipsum aut?</p>
      </div>
      <div class="wallpaper-info-actions">
        <img [src]="darkMode ? './assets/img-hide.svg' : './assets/img-hide-dark.svg'">
        <a href="#">Hide</a>
      </div>
    </div>
  </div>
  <!-- <footer class="area-footer">
    <div>
      <input type="text" id="message-input" placeholder="Напишите сообщение"
        (keyup.enter)="sendTimedMessage($event.target.value)">
      <img src="./assets/btn-send.svg" (click)="getRandomPhoto()">
    </div>
  </footer> -->
</div>