<div class="area-container">
  <header class="area-header">
    <div class="header-logo">
      <strong>everchanging wallpapers</strong>
    </div>
    <nav>
      <ul>
        <li><img [src]="darkMode ? './assets/img-dark-mode.svg' : './assets/img-light-mode.svg'" (click)="switchColorMode()"></li>
        <li><img src="./assets/btn-min.svg" (click)="minimizeWindow()"></li>
        <li><img src="./assets/btn-close.svg" (click)="closeWindow()"></li>
      </ul>
    </nav>
  </header>
  <div class="area-body-container">
    <div class="area-body">
      <!-- <div *ngFor="let messageObj of messages" class="message-container">
        <div class="message-content">
          <div *ngIf="messageObj.firstMessage === true || messageObj.shouldSeparateMessages"
            class="message-sender-logo">
            <img src="./assets/img-code.svg">
          </div>
          <div class="message-body">
            <p *ngIf="messageObj.firstMessage === true || messageObj.shouldSeparateMessages" class="message-sender">
              Lorem ipsum dolor sit amet
            </p>
            <p *ngIf="!messageObj.hasLink"
              [ngClass]="{'message-aligned': !messageObj.firstMessage && !messageObj.shouldSeparateMessages}">
              {{ messageObj.message }}
            </p>
            <p>
              <a href="#" class="message-link" *ngIf="messageObj.hasLink"
                [ngClass]="{'message-aligned': !messageObj.firstMessage && !messageObj.shouldSeparateMessages}">
                {{ messageObj.message }}
              </a>
            </p>
          </div>
        </div>
        <div *ngIf="messageObj.hasLink" class="message-link-content">
          <div class="link-content-description">
            <div class="text-title">Link content header</div>
            <div class="text-subtitle">Link content subheader Link content subheader Link content subheader Link
              contentLink contentLink contentLink contentLink content
              subheader</div>
          </div>
          <div class="link-content-image">
            <img src="./assets/screen.png">
          </div>
        </div>
      </div> -->
      <div class="container">
        <h1>Light / Dark Mode</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam doloremque quas eius est molestiae quia quos vitae cupiditate, ducimus voluptatum in placeat officiis magni sed sit. Dignissimos dolorem obcaecati autem?</p>
      </div>
    </div>
    <div class="time-range-picker">
      <div class="time-range-picker-element">
        123
      </div>
    </div>
  </div>
  <footer class="area-footer">
    <!-- <div>
      <input type="text" id="message-input" placeholder="Напишите сообщение"
        (keyup.enter)="sendTimedMessage($event.target.value)">
      <img src="./assets/btn-send.svg">
    </div> -->
  </footer>
</div>