.area-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-right: 1px;

  header {
    display: grid;
    grid-template-columns: 75% auto;
    background-color: #2f80ed;
    border-radius: 15px 15px 0px 0px;
    padding: 14px 14px 10px 14px;
    -webkit-app-region: drag;

    .header-logo {
      display: flex;
      > img {
        margin-right: 2px;
      }
    }

    strong {
      color: #fff;
      font-family: "Trade Winds";
    }

    nav {
      -webkit-app-region: no-drag;
      justify-self: right;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          float: left;
          margin-left: 8px;

          img {
            cursor: pointer;
          }
        }
      }
    }
  }

  .area-footer {
    display: flex;
    align-items: center;
    background-color: var(--bg);
    border: 1px solid var(--bg-panel);
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 1px;
    height: 40px;

    div {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    input {
      flex: 1;
      border: 0;
      outline: none;
      color: black;
      font-family: inherit;
      background-color: inherit;
      padding: 12px;
    }

    img {
      padding-right: 10px;
      cursor: pointer;
    }
  }

  img {
    width: 18px;
  }

  .wallpaper-info-container {
    position: absolute;
    height: 15em;
    width: 84%;
    bottom: 2em;
    left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: var(--bg-panel);

    img {
      width: 10px;
      margin-right: 3px;
    }

    a {
      color: var(--color-description);
      text-decoration: underline;
    }

    .wallpaper-info-description {
      display: flex;
      flex-direction: column;
      padding: 1em;
      color: var(--color-description);
      > h1 {
        margin: 0;
        line-height: 1em;
      }

      .wallpaper-info-metrics {
        display: flex;
        margin: 1em 0;
        > div {
          margin-right: 1em;
        }
      }
    }

    .wallpaper-info-actions {
      display: flex;
      justify-content: flex-end;
      padding: 0 1em 1em;
    }
  }
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.wallpaper-info-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: var(--color-text));
  margin: 0;
  color: var(--color-text);
}

.area-body-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border-left: 1px solid var(--bg-panel);
  border-right: 1px solid var(--bg-panel);
  border-bottom: 1px solid var(--bg-panel);
  border-radius: 0 0 15px 15px;
  margin-bottom: 1px;
  padding: 0em 1em 1em 1em;
  overflow-y: hidden;
}

.area-tags {
  display: flex;
  margin: 0.5em 0;
  justify-content: space-between;
  > div:nth-child(1) {
    margin-right: 0.25em;
  }
  > div:nth-child(2) {
    margin-right: 0.2em;
  }

  .tags {
    flex: 1;
    display: flex;
    > button {
      margin-right: 0.3em;
    }
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.btn-tag {
  background-color: var(--bg);
  color: var(--color-description);
  border: 1px solid var(--bg-panel);
  border-radius: 5px;
  padding: 0.3em 0.5em;
  cursor: pointer;
  > img {
    width: 1em;
    vertical-align: middle;
  }
}

.btn-tag:focus {
  outline: none;
}

.carousel-container {
  flex: 1 1 auto;
  background-color: var(--bg);
  border-left: 1px solid var(--bg-panel);
  border-right: 1px solid var(--bg-panel);
  border-radius: 15px;
  overflow-y: auto;
  display: flex;
}

.btn-show-description {
  position: absolute;
  bottom: 0.5em;
  width: 10%;
  height: 6%;
  left: 45%;
  z-index: 1;
  border: 1px var(--bg-panel) solid;
  background-color: var(--bg);
  > img {
    display: block;
    margin: auto;
    width: 1.3em;
  }
}

.btn-show-description:focus {
  outline: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
