<div class="area-container">
  <header class="area-header">
    <div class="header-logo">
      <strong>everchanging wallpapers</strong>
    </div>
    <nav>
      <ul>
        <li><img [src]="darkMode ? './assets/img-dark-mode.svg' : './assets/img-light-mode.svg'"
            (click)="switchColorMode()"></li>
        <li><img src="./assets/btn-min.svg" (click)="minimizeWindow()"></li>
        <li><img src="./assets/btn-close.svg" (click)="closeWindow()"></li>
      </ul>
    </nav>
  </header>
  <div class="area-body-container">
    <div class="area-tags">
      <div class="tags">
        <button class="btn-tag">
          Cinema
        </button>
        <button class="btn-tag">
          Coffee
        </button>
        <button class="btn-tag">
          Restaurant
        </button>
        <button class="btn-tag">
          Relaxation
        </button>
      </div>
      <div>
        <button class="btn-tag">
          + 1
        </button>
      </div>
      <div>
        <button class="btn-tag">
          <img [src]="darkMode ? './assets/img-hashtag.svg' : './assets/img-hashtag-dark.svg'">
          ...
        </button>
      </div>
    </div>
    <app-carousel class="carousel-container" (slidechanged)="changeSlideDescription($event)"></app-carousel>
    <div class="wallpaper-info-container animated">
      <div class="wallpaper-info-description">
        <h1>today was a good day</h1>
        <div class="wallpaper-info-metrics">
          <div><span><img [src]="darkMode ? './assets/img-eye.svg' : './assets/img-eye-dark.svg'"></span> {{ wallpaperLikes }}</div>
          <div><span><img [src]="darkMode ? './assets/img-location.svg' : './assets/img-location-dark.svg'"></span>
             {{ wallpaperLocation }}
          </div>
        </div>
        <p class="wallpaper-info-text">{{ wallpaperDescription }}</p>
      </div>
      <div class="wallpaper-info-actions">
        <img [src]="darkMode ? './assets/img-hide.svg' : './assets/img-hide-dark.svg'">
        <a href="#" id="hideLink">Hide</a>
      </div>
    </div>
    <button class="btn-tag btn-show-description animated" hidden>
      <img [src]="darkMode ? './assets/img-chevron-up.svg' : './assets/img-chevron-up-dark.svg'">
    </button>
  </div>
</div>