.area-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  header {
    display: grid;
    grid-template-columns: 80% auto;
    background-color: #2f80ed;
    border-radius: 15px 15px 0px 0px;
    padding: 14px 14px 10px 14px;
    -webkit-app-region: drag;

    strong {
      color: #fff;
    }

    nav {
      -webkit-app-region: no-drag;
      justify-self: right;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          float: left;
          margin-left: 8px;

          img {
            cursor: pointer;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 1px;

    div {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }

    input {
      flex: 1;
      border: 0;
      outline: none;
      color: black;
      font-family: "Open Sans";
      background-color: inherit;
      padding: 12px;
    }

    img {
      padding-right: 10px;
      cursor: pointer;
    }
  }

  img {
    width: 18px;
  }

  .message-container {
    margin-bottom: 15px;
  }

  .message-header {
    display: flex;
    align-items: center;

    .message-sender-logo {
      background-color: #2f80ed;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      height: 32px;
      width: 32px;
      margin-right: 10px;
    }

    font-weight: 600;
  }

  .message-body {
    .message-link {
      color: #2f80ed;
      text-decoration: none;
    }

    .message-link-content {
      display: flex;
      margin-top: 7px;
      max-height: 60px;

      .link-content-description {
        flex: 1;
        min-width: 0;
        max-height: inherit;
        border-left: thick solid #2f80ed;
        padding: 0 5px;

        div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .link-content-image {
        white-space: nowrap;
        > img {
          height: 36px;
          width: 36px;
        }
      }
    }

    .text-title {
      font-weight: 700;
    }

    .text-subtitle {
      font-weight: 600;
    }
  }

  .time-range-picker {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: white;
  }

  .time-range-picker-element {
    border: 1px solid;
    border-radius: 15px 15px 0px 0px;
    border-left: inherit;
    border-right: inherit;
    border-bottom: inherit;
    border-color: #dbdbdb;
  }
}

.area-body-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.area-body {
  flex: 1 1 auto;
  background-color: white;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding: 15px;
  height: 0px;
  overflow-y: auto;
}
